@model UI.Models.LogOnModel
@{
    Layout = null;
}
<p>
    <a class="position-right" href="#" onclick="closeForm('#workForm', 'logOn-form');">x</a>
</p>
<hgroup class="title">
    <h2>@Resources.Resources.LogOn</h2>
</hgroup>
<p>
    @Resources.Resources.EnterUsernameAndPassword @Html.ActionLink(Resources.Resources.Register, "Register") @Resources.Resources.IfHaveNotAccount
</p>
<section id="loginForm">
    @using (Ajax.BeginForm("LogOnPartial", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "updateLogOnForm", InsertionMode = InsertionMode.Replace }))
    {
        <div id="updateLogOnForm">
            <div class="editor-label">
                @Html.Label(Resources.Resources.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                @Html.Label(Resources.Resources.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
            <div class="editor-label">
                @Html.Label(Resources.Resources.RememberMe, new { @class = "checkbox" })
            </div>
            <input type="submit" class="btn" value=@Resources.Resources.LogOn />
        </div>
    }
</section>
